.container{
      background-color: aquamarine;
}
.box{
     height :25%;
     width : 25%;
     
}
#box1
{
     background-color: blanchedalmond;
}
#box2
{
     background-color:red;
}
#box3
{
     background-color: fuchsia;
}
#box4
{
     background-color: darkcyan;
}